{% extends 'base.html.twig' %}

{% block title %}Nos livres{% endblock %}

{% block body %}
<h1>Nos livres</h1>

<ul>
{% for livre in livres %}
    <li>{{livre.titre}}</li>
{% endfor %}
</ul>

{% endblock %}
